.dashboard {
  display: flex;
  background: #ededed;
  height: 100%;
}

.vertical {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  margin: 30px 0;
  margin-left: 30px;
  height: 900px;
  width: 1px;
}
